---
import { Game } from "@/games/dungeon-brewer/Game";
import RootLayout from "@/ui/components/RootLayout.astro";
---

<RootLayout>
    <slot slot="head">
        <title>Synbase</title>
    </slot>

    <Game client:load />
</RootLayout>
